<a href="https://colab.research.google.com/github/juancamilo1203unal/PruebaCienciaDeLosDatos/blob/master/Edici%C3%B3n_de_archivos_con_sed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
%%bash
## se imprimen los primeros 30 números a un archivo
seq 30 > out.1
echo ''
## imprime las líneas 3 a 6
sed -n '3,6p' out.1
echo ''
## imprime las líneas 3 a 6 y 11 a 13
sed -n '3,6p; 11,13p' out.1
echo ''
## de la linea 25 al final
sed -n '25,$ p' out.1

3
4
5
6

3
4
5
6
11
12
13

25
26
27
28
29
30

In [6]:
## Imprime las lineas que contengan un 1
!sed -n '/1/p'  out.1

1
10
11
12
13
14
15
16
17
18
19
21

In [7]:
## Imprime las lineas que contengan un 1
!sed '/1/p'  out.1

1
1
2
3
4
5
6
7
8
9
10
10
11
11
12
12
13
13
14
14
15
15
16
16
17
17
18
18
19
19
20
21
21
22
23
24
25
26
27
28
29
30

In [12]:
## Imprime las líneas que tengaun un 1 al final
!sed -n '/1$/p'  out.1
!echo ''
## Imprime las líneas que tengan un 1 al inicio
!sed -n '/^1/p' out.1
!echo ''
# Borra las líneas 3 a la 26
!sed "3,26 d" out.1

1
11
21

1
10
11
12
13
14
15
16
17
18
19

1
2
27
28
29
30

In [0]:
#Encadenado de expresiones
!sed -e 1d -e 2d out.1

In [17]:
%%bash
echo "1980-JAN-1+1:0:1.134
1980-JAN-5+1:0:1.12
1982-JAN-13+10:12:42.33" > out.1
cat out.1
echo ''

sed 's/-\([0-9]\)+/-0\1+/' out.1 > out.2
cat out.2
echo ''
sed 's/+/ /' out.2 > out.3
cat out.3
echo ''
sed 's/ \([0-9]\):/ 0\1:/' out.3 > out.4
cat out.4
echo ''
sed 's/:\([0-9]\):/:0\1:/' out.4 > out.5
cat out.5
echo ''
sed 's/:\([0-9]\)\./:0\1./' out.5 > out.6
cat out.6
echo ''
sed 's/\.[0-9][0-9]*//' out.6 > out.7
cat out.7

1980-JAN-1+1:0:1.134
1980-JAN-5+1:0:1.12
1982-JAN-13+10:12:42.33

1980-JAN-01+1:0:1.134
1980-JAN-05+1:0:1.12
1982-JAN-13+10:12:42.33

1980-JAN-01 1:0:1.134
1980-JAN-05 1:0:1.12
1982-JAN-13 10:12:42.33

1980-JAN-01 01:0:1.134
1980-JAN-05 01:0:1.12
1982-JAN-13 10:12:42.33

1980-JAN-01 01:00:1.134
1980-JAN-05 01:00:1.12
1982-JAN-13 10:12:42.33

1980-JAN-01 01:00:01.134
1980-JAN-05 01:00:01.12
1982-JAN-13 10:12:42.33

1980-JAN-01 01:00:01
1980-JAN-05 01:00:01
1982-JAN-13 10:12:42

In [21]:
%%bash
echo "AAAA 1234 SI
BBBB 5678 SI
CCCC 9012 NO" > out.1
cat out.1
echo ''
sed '/AAAA/ i\EEEE 0000 SI/' out.1
echo ''
sed '/BBBB/ c XXXX 1111 SI' out.1

AAAA 1234 SI
BBBB 5678 SI
CCCC 9012 NO

EEEE 0000 SI/
AAAA 1234 SI
BBBB 5678 SI
CCCC 9012 NO

AAAA 1234 SI
XXXX 1111 SI
CCCC 9012 NO

In [22]:
%%bash
echo "Date, Year, CustomerID, Value
2013-01-12, 2013, 1, 100
2014-05-12, 2014, 1, 100
2013-02-25, 2013, 2, 200
2013-04-04, 2013, 1, 100
2013-06-21, 2013, 2, 200
2014-05-12, 2014, 12, 100
2014-05-12, 2014, 2, 200
2013-02-28, 2013, 11, 100
2013-08-02, 2013, 1, 100" > out.1
cat out.1
echo ''

Date, Year, CustomerID, Value
2013-01-12, 2013, 1, 100
2014-05-12, 2014, 1, 100
2013-02-25, 2013, 2, 200
2013-04-04, 2013, 1, 100
2013-06-21, 2013, 2, 200
2014-05-12, 2014, 12, 100
2014-05-12, 2014, 2, 200
2013-02-28, 2013, 11, 100
2013-08-02, 2013, 1, 100